body {
    margin: 25px;
    max-width: 900px;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
.size-l {
    width: 90%;
}
p,
li,
li {
    font-size: 1.3em;
}
.ver {
    display: flex;
    flex-direction: column;
    width: 500px;
}

td {
    border: 1px solid;
}

td {
    padding: 1.6em;
}

thead {
    font-weight: bold;
}

pre.blur {
    filter: blur(0.3rem);
    user-select: none;
}
pre.math {
    font-size: 1.3em;
}

var {
    font-size: 1.5em;
}
img.w-300 {
    width: 300px;
}

img.w-400 {
    width: 300px;
}

img.w-500 {
    width: 500px;
}

img.w-600 {
    width: 600px;
}

img.w-960 {
    width: 960px;
}

img.w-250 {
    width: 250px;
}

